<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="vue.min.js"></script>
</head>

<body>

    <div id="vue">
        <use_fu :zi_receive_1="fu_message_1" @z_m_f="receive_fu"></use_fu>
        <hr>
        <hr>
        父组件数据： {{fu_message_1}}
    </div>
    <template id="q1">
        <div>
            <h3>data：{{zi_message_1}}</h3>
            <h3>props：{{zi_receive_1}}</h3>
            input_model_zi_receive-1:
            <input type="text" v-model="zi_receive_1">
            <hr>
            input_model_zi_message2
            <input type="text" v-model="zi_message_2" @input="zi_modify_fu_1">
            <p></p>
            data:<h2>{{zi_message_2}}</h2>
            props:<h2>{{zi_receive_1}}</h2>
            <hr>
        </div>
    </template>
    <script>
        const q1 = {
            template: '#q1',
            data() {
                return {
                    zi_message_1: '子组件里面数据',
                    zi_message_2: this.zi_receive_1,
                }
            },
            props: ['zi_receive_1', 'zi_receive_2'],
            methods: {
                zi_modify_fu_1(event) {
                    //event.target它永远是直接接受事件的目标DOM元素
                    this.zi_message_1 = event.target.value
                    this.$emit('z_m_f', this.zi_message_1);
                    //在input 点击这个方法 zi_message_1 的值为input的值
                    //建造发射台发送事件和 获取的input的值
                }
            }
        }
        const vu = new Vue({
            el: '#vue',
            data: {
                fu_message_1: '这是父组件里面的数据——1',
                fu_message_2: '这是父组件里面的数据——2'
            },
            components: {
                use_fu: q1
            },
            methods: {
                receive_fu(receive_value) {
                    this.fu_message_1 = receive_value
                }


            }
        })
    </script>
</body>

</html>